nav ul li a{
    text-decoration: none;
    color: #fff;

}
#feature{
    width: 100%;
    padding:70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{

    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight:bold ;
    position: relative;
    z-index: 1;
    display: inline-block;

}
.title-text p::after{
    content:'';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1
{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: aqua;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef; ;
}
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #009688;
    cursor: pointer;
}
.testimonial-col p{
    font-size: 10px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px o;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
#footer{
    padding: 100px 0 20px;
    background: #efefef;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom:20px;
}